/*File for variables*/
/*Colors*/
$dark-grey:#767676;
$light-grey:#dcdcdc;
$middle-grey:#c6c6c6;
$footer-bg:#777777;
$light-blue:#9da3d7;
$blue-bubble:#d0d4f3;
$green-bubble:#d5e3d1;
$pink-bubble:#f9e3d0;
$white-bg:#f8f8f8;
$white:#ffffff;
$pink-orange:#ffc087;
$slider-green:#b1e1a3;
$slider-pink:#ffc087;
$slider-blue:#9da3d7;
$black:#000000;
$blue:#6bb7e7;

