header.header 
    .container 
        .header-logo
            .header-logo-img 
                img(src="#", alt="Logo", width="100", height="100")
            .header-logo-content 
                .header-logo-title Название  компании 
                .header-logo-subtitle самая клевая компания
            

        .header-tel
            a(href="tel:+74997777777") +7(499) 777-77-77 
            a(href="tel:+74997777777") +7(499) 777-77-77 